.container {
    padding: 35px 95px 252px 100px;
    background-color: #E5E5E5;
  }

  .red{
    color: #FF0000;
  }
  
  .title {
    font-size: 35px;
    margin-bottom: 30px;
  
  }
  
  .incomeTable {
    width: 100%;
    text-align: center;
  }
  
  .incomeTable tr {
    border-bottom: 1px solid #c9afaf;
}
  
  .incomeTable th {
    line-height: 50px;
  }
  
  .incomeTable td {
    border-bottom: 1px solid #c9afaf;
    font-size: 15px;
    line-height: 75px;
    font-weight: normal;
    font-family: Roboto;
  }
  
  .pending {
    color: #f7941e;
    font-weight: 600 !important;
  }
  
  .approved {
    color: #0acf83;
    font-weight: 600 !important;
  }

  .active {
    color: #0acf83;
    font-weight: 600 !important;
  }

  .notActive {
    color: #f70303;
    font-weight: 600 !important;
  }
  
  .cancel {
    color: #ff0742;
    font-weight: 600 !important;
  }

  .dropdownAction {
    background: #faf3f3;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    /* width: 25px;
    height: 100px; */
  }

  .dropdownToogle{
    border: none;
    background: #E5E5E5;
    color: blue;
    
  }

.dropdownToogle:focus {
  outline: 100;
  }

  