
  .Form {
    padding: 10px 235px 50px 185px;;
    margin-left: 48px;
  }
  
  .title{
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .inputField {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 28px;
  
    background: rgba(179, 169, 169, 0.25);
    border: 2px solid rgba(77, 70, 70, 0.25);
  }

  textarea{
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 22px;
  
    background: rgba(179, 169, 169, 0.25);
    border: 2px solid rgba(77, 70, 70, 0.25);
  }
  
  .button {
    width: 180px;
    right: 400px;
    height: 44px;
    display: "block";
    width: "100%";
    font-size: 17px;
    font-weight: 800;
    color: #ffffff;
    background: #D60000;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
  }
  
  .clickedHere{
    margin-left: 19px;
    margin-bottom: 10px;
    padding: 5px 50px 5px 44px;
    font-weight: 500;
  }
  
  .background {
    width:  400px;
    top : 5%;
    left: 33%;
  }

  label {
    background: rgba(179, 169, 169, 0.25);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    width: 180px;
    height: 40px;
    border-style: solid;
    color: rgb(139, 126, 126);
    border: 2px solid rgba(77, 70, 70, 0.25);
  }
  